{% extends "template.jade" %}
{% block content %}
#container.col
  .col-md-3.full-hight
    
  .col-md-6.full-height
    {% raw %}
    h1
      | Purchase
    .well.well-sm
      .well
        script.dwolla_button(src='/static/js/dwolla_button.js',
                      data-key="HFyt3V7T0RZTQjb7xZLml0+7UZXYUtdSzHA0DeEHw8OPdwP/jX",
                      data-redirect="tayler-server.reshall.rose-hulman.edu:13377/paid/",
                      data-label="Register",
                      data-name="IncenToLearn",
                      data-description="",
                      data-amount="5.95",
                      data-type="freetype")
      |How much would you like to add?
    {% endraw %}

  .col-md-3.full-height

{% endblock %}
